
<h3>New Medecine</h3>


<div class="container">
    <form class="row g-3">
        <div class="col-md-8">
            <label for="medecName" class="form-label"> Name</label>
            <input type="text" class="form-control" [(ngModel)] = "newMedecine.designmedecin" name="medecName" >
        </div><br/>

        <div class="col-md-4">
            <label for="medecBrand" class="form-label">Brand</label>
            <input type="text" class="form-control" [(ngModel)] = "newMedecine.brand" name="medecBrand">
        </div><br/>

        <div class="form-group">
            <label for="medecDescript">Description</label>
            <textarea class="form-control rounded-1"  rows="5" [(ngModel)] = "newMedecine.description" name="medecDescript"></textarea>
        </div>

        <div class="col-md-4">
            <label for="medecUnitpric" class="form-label">Unit Price</label>
            <input type="text" class="form-control" height="20px" [(ngModel)] = "newMedecine.unitprice" name="medecUnitpric">
        </div><br/>

        <div class="col-md-4">
            <label for="medecQttyDispo" class="form-label">Available Quantity</label>
            <input type="password" class="form-control" [(ngModel)] = "newMedecine.qttyavail" name="medecQttyDispo">
        </div><br/>

        <div class="col-md-4">

            <label for="medecCateg" class="form-label">Category</label>

            <select class="form-control" [(ngModel)] = "newMedecine.category.idcateg" name="medecCateg" data-toggle="dropdown">
                <option value = "0">--- Select category ---</option>
                <option *ngFor="let aCateg of categoryList" [value]="aCateg.idcateg">{{aCateg.libelcateg}}</option>
            </select>
        </div><br/>

        <div class="col-md-8">
            <label for="medecPicture" class="form-label">Picture</label>
            <input type="file" class="form-control" [(ngModel)] = "newMedecine.picture" name="medecPicture">
        </div><br/>

        <div class="text-center col-md-6">
            <button type="submit" class="btn btn-primary"  name="btSubmit" (click)=newUserMedecine()>Save Medecine</button>
        </div>

        <div class="text-center col-md-6">
            <a routerLink='/listmedecin' class="btn btn-secondary">Go back List</a>
        </div>

    </form>
</div>