



<h3>Medecines in the cart</h3><br/>

<!--<h4><a [routerLink] = "['/usersaddusers']">Add New User</a></h4><br/>-->


<table class="table table-hover">

    <thead>
        <tr>
            <td>Product</td>
            <td>Description</td>
            <td>Unit Price</td>
            <td>Quantity</td>
            <td>SubTotal</td>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let aMedec of allMedecineInCart">
            <td>{{ aMedec.designMedecin }}</td>
            <td>{{ aMedec.description }}</td>
            <td>{{ aMedec.qttyAvail }}</td>
            <td>{{ aMedec.unitPrice }}</td>
            <td>{{ aMedec.unitPrice * aMedec.qttyAvail }}</td>
            <!--<td>
                <a [routerLink] = "['/editmedecine', aMedec.idmedecin]" class="mat-radio-button">check</a>
            </td>
            <td>
                <a [routerLink] = "['/editmedecine', aMedec.idmedecin]" class="btn btn-primary">Edit</a>
            </td>-->

        </tr>
    </tbody>
</table>
