

<h3>List of Medecines</h3><br/>

<!--<h4><a [routerLink] = "['/usersaddusers']">Add New User</a></h4><br/>-->

<h4><a [routerLink]="['/addnewmedecin']">Add New Medecine</a></h4>

<table class="table table-hover">

    <thead>
        <tr>
            <td>Id</td>
            <td>Picture</td>
            <td>Name</td>
            <td>Brand</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let aMedec of allMedecinList">
            <td>{{ aMedec.idmedecin }}</td>
            <td><img [src]= "aMedec.picture">?</td>
            <td>{{ aMedec.designMedecin }}</td>
            <td>{{ aMedec.brand }}</td>
            <td>{{ aMedec.qttyAvail }}</td>
            <td>{{ aMedec.unitPrice }}</td>
            <td>
                <a [routerLink] = "['/editmedecine', aMedec.idmedecin]" class="btn btn-primary">Edit</a>
            </td>

        </tr>
    </tbody>
</table>
